
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách phòng ban</title>
    <script src="~/Scripts/js/department.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 ">
                <h3 style="margin-top: 20px;">Danh Sách Phòng Ban</h3>
            </div>
            <div class="col-md-7">
                <nav class="navbar navbar-expand-lg  ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav "
                            style="position: absolute; top: 0; right: 0; margin-top: 14px;">
                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>


    <div class="container" style="padding-top: 25px;">
        <div class="row" style="height:400px; overflow: scroll;">
            <table id="tableDepartment" class=" table order-list">
                <thead>
                    <tr>
                        <th>Mã phòng ban</th>
                        <th class="filter">Tên phòng ban</th>
                        <th>Xóa</th>
                        <th>Sửa</th>
                    </tr>
                </thead>
                <tbody id="listDepartment">
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-9">
                <nav class="navbar navbar-expand-sm"
                     style="margin-bottom: 0px; border-bottom-width: 0px; padding-bottom: 5px; padding-right: 0px; padding-top: 0px; border-top-width: 0px;">
                    <!-- Brand/logo -->
                    <div class="navbar-nav mr-auto">
                        <button type="button"
                                class="btn btn-info" id="addDepartment">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                        <p id="demo1" style="color: red"></p>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- popup xoa -->

    <div id="popupDelete" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="text-align: center;" id="DepartmentDelete">
                    </h2>
                </div>
                <div class="modal-body" hidden>
                    <form method="post" id="insert_form">
                        <input type="number" name="DepartmentId" id="DepartmentId"
                               class="form-control" readonly />
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="functionDeleteDepartment()" type="button" class="close"
                            data-dismiss="modal">
                        Delete
                    </button>
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 30px">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal-update" style="padding-left: 0">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header for-add" style="background-color: #118fa6">
                    <h4 class="modal-title" style="color: white">Thêm Phòng ban</h4>
                </div>
                <div class="modal-header for-update"
                     style="background-color: #118fa6">
                    <h4 class="modal-title" style="color: white">
                        Sửa Thông Tin Phòng Ban <span id="role-name-update"></span>
                    </h4>
                </div>


                <div class=" center">
                    <div class="row">
                        <form role="form">
                            <div class="form-group row" style="margin-top:10px">
                                <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 50px">Tên phòng ban</label>
                                <div class="col-lg-8">
                                    <input class="form-control" id="nameDepartment" type="text" />
                                </div>
                            </div>
                            <p id="checkNUll" style="color: red;margin-left: 50px"></p>
                            <div class="form-group row" hidden>
                                <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 50px">Chức danh</label>
                                <div class="col-lg-8">
                                    <input class="form-control" id="IdDepartment" type="text" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal-footer" style="justify-content: center">
                    <button id="submit-add-btn"
                            style="background-color: #055608; color: white"
                            class="btn btn-default for-add" data-dismiss="modal">
                        CREATE
                    </button>

                    <button id="submit-update-btn"
                            style="background-color: #055608; color: white"
                            class="btn btn-default for-update" data-dismiss="modal">
                        UPDATE
                    </button>
                    <button id="cancle-btn"
                            style="background-color: #b51515; color: white"
                            class="btn btn-default" data-dismiss="modal">
                        CANCLE
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




