
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tính lương nhân viên</title>
    <script src="~/Scripts/js/totalSalary.js"></script>
    <script src="~/Scripts/js/libs/xls.core.min.js"></script>
    <script src="~/Scripts/js/libs/xlsx.core.min.js"></script>
</head>
<body>
    <input type="file" id="excelfile" class="btn btn-info" />
    <button type="button" id="tinhluong" class="btn btn-info" onclick="TinhLuong()" style="margin-top:20px" disabled>Tính Lương</button>
    <button type="button" class="btn btn-info" id="cancelTotal" style="margin-top:20px">Hủy</button>
    <br />
    <br />
    <table id="exceltable" class=" table order-list" style="border:dashed">
    </table>


</body>
</html>

